body {
    font-family: 'Times New Roman', Times, serif; /* Familia de fuentes */
    font-size: 11px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #f0f0f0; /* El color del fondo de la página web */
    color: #5988FF; /* El color del texto*/ 
}
h1 {
    color: #D6FF6B; /* El color de la cabecera */
    font-size: 24px; /* El tamaño de la fuente de la cabecera */
    font-family: Georgia, serif; /* La familia tipográfica utilizada en la cabecera */
}
